*{
    padding: 0;
    margin: 10px;
    border: 0px;
    text-align: center;
    justify-content: center;
}

body{
    background-color: rgb(0, 0, 0);
}

h1{
    color: white;
    font-size: 60px;
    text-decoration: underline;
}

div{
    color: white;
    background-color: #03045e;
    display: flex;
    height: 100px;
    width: 450px;
    border-radius: 10px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 20px;
}

a{
    text-decoration: none;
}